language: node_js
node_js:
  - "7"
services:
  - postgresql
env:
  - NODE_ENV=test;DB_HOST="localhost";DB_PORT="5432";DB_USER="postgres";DB_PASSWORD="";DB_DATABASE="stackoverflow_lite_test"
before_script:
  - psql -c 'create database stackoverflow_lite_test;' -U postgres